/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion */

/* region GENERAL */
body{
    color: white;
}

:root{
    --header-height: 50px;
    --footer-height: 85px;
}

.flex{
    display: flex;
}
/* #endregion */

/* region HEADER */
header{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
}

header i{
    font-size: 15px;
}

header [type="button"]{
    color: white; /* e scopriamo che i bottoni non ereditano il colore da body */
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
    background-color: #4A4A4A;
    border-radius: 5px;
    border: none;
    margin: 0px 5px;
    align-self: center;
}

.fa-grip{
    margin-right: 4px;
}

.fa-maximize{    
    vertical-align: middle;
}
/* #endregion */

/* #region MAIN */
main{
    background-color: black;
    padding: 0px 100px;
    height: calc(100vh - var(--footer-height) - var(--header-height));
    overflow-y: auto;
}

main img{
    width: 200px;
}

main .flex{
    flex-wrap: wrap;
    justify-content: center;
}

.webcam{
    margin: 5px 3px;
    position: relative;
}

.name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 5px 2px;
    font-size: 12px;
    vertical-align: middle;
}
/* #endregion */
